<a href="https://colab.research.google.com/github/eeyamazaki/soebe/blob/main/modelo_preditivo_soebe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [186]:
import pandas as pd
import numpy as np
import glob

In [187]:
# Lendo a base de reposicoes da SOEBE:

# skiprows = 3, pois as 3 primeiras linhas sao cabecalho.

dfSoebe = pd.read_csv(r'/content/drive/MyDrive/Projetos/soebe/pendentes-soebe/reposicoes.txt', encoding='cp1252', sep='|',
                      skiprows=3, dtype=object)
dfSoebe.head()

,Unnamed: 0,Ordem,Tipo ordem,Centro,Operação,CenTrab,Txt.breve operação,Cód. Único,Oper.ZSCP,TSE Oper.,...,Quantidade,Extensão,MND,L.Corte/Su,Religação,Mt.Cúbico,Observação,StatSist,StatUsuár.,Unnamed: 54
0,----------------------------------------------...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2206463343,ZSCP,0004,0050,277CRB04,REPOSIÇÃO DE ASFALTO INV,226463343,0050,733000,...,,"0,00",,,,,...,LIB,EXEC VALO,NaN
2,NaN,2207236897,ZSCP,0004,0040,273CRL07,SERVIÇO EXECUTADO ANTERIORMENTE,227236897,0040,904200,...,,"0,00",,,,,"Conforme vistoria em 06.08.22, servico executa...",LIB,NEXE VALO,NaN
3,NaN,2210680011,ZSCP,0004,0030,277CRB04,REPOSIÇÃO DE ASFALTO INV,2210680011,0030,733000,...,,"0,00",,,,,...,LIB,EXEC VALO,NaN
4,NaN,2212237908,ZSCP,0004,0050,273CRL10,REPOSIÇÃO DE CAPA ASFALTICA INV,2212237908,0050,745000,...,,"0,00",,,,,...,LIB,EXEC,NaN

In [188]:
# Como o cabecalho possui um excesso de espacos, vamos remover e renomea-los:

l1 = dfSoebe.columns
l1 = [x.strip(' ') for x in l1]

dfSoebe = dfSoebe.rename(columns=dict(zip(dfSoebe.columns, l1)))
dfSoebe.columns

Index(['Unnamed: 0', 'Ordem', 'Tipo ordem', 'Centro', 'Operação', 'CenTrab',
       'Txt.breve operação', 'Cód. Único', 'Oper.ZSCP', 'TSE Oper.', 'TSS',
       'Cont.ZSCP', 'Un. Adm.', 'M.Mão Obra', 'Ag.Tp.Serv', 'Resp.ZSCP',
       'DtDespacho', 'Dt.Início', 'Hr.Iniíio', 'Dt.FimExec', 'Hr.Fim',
       'Hr.Trab.', 'Acatamento', 'Hr.Acatam.', 'Dt.Agend.', 'Turno',
       'Dt.Compet.', 'Dt.Susp.', 'Hr.Susp.', 'Dt.Fim', 'Hr.Fim  .1',
       'H.Retirado', 'Instalado', 'Garantia', 'Dt.Exec.', 'Hr.Exec.', 'Peso',
       'Tipo Mat.', 'Pos. Rede', 'Diam.Rede', 'Diam.Ramal', 'Diam.Cavl.',
       'Comp.', 'Largura', 'Profund.', 'Quantidade', 'Extensão', 'MND',
       'L.Corte/Su', 'Religação', 'Mt.Cúbico', 'Observação', 'StatSist',
       'StatUsuár.', 'Unnamed: 54'],
      dtype='object')

In [189]:
# Removendo excesso de espacos em todas as colunas

for i in l1:
  dfSoebe[i] = dfSoebe[i].str.strip()

In [190]:
dfSoebe.head()

,Unnamed: 0,Ordem,Tipo ordem,Centro,Operação,CenTrab,Txt.breve operação,Cód. Único,Oper.ZSCP,TSE Oper.,...,Quantidade,Extensão,MND,L.Corte/Su,Religação,Mt.Cúbico,Observação,StatSist,StatUsuár.,Unnamed: 54
0,----------------------------------------------...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2206463343,ZSCP,0004,0050,277CRB04,REPOSIÇÃO DE ASFALTO INV,226463343,0050,733000,...,,"0,00",,,,,,LIB,EXEC VALO,NaN
2,NaN,2207236897,ZSCP,0004,0040,273CRL07,SERVIÇO EXECUTADO ANTERIORMENTE,227236897,0040,904200,...,,"0,00",,,,,"Conforme vistoria em 06.08.22, servico executa...",LIB,NEXE VALO,NaN
3,NaN,2210680011,ZSCP,0004,0030,277CRB04,REPOSIÇÃO DE ASFALTO INV,2210680011,0030,733000,...,,"0,00",,,,,,LIB,EXEC VALO,NaN
4,NaN,2212237908,ZSCP,0004,0050,273CRL10,REPOSIÇÃO DE CAPA ASFALTICA INV,2212237908,0050,745000,...,,"0,00",,,,,,LIB,EXEC,NaN

In [191]:
#Missing Values:
#Temos apenas 2 missing values no dataframe.

dfSoebe = dfSoebe.dropna(subset=['Ordem'])

In [192]:
dfSoebe.head()

,Unnamed: 0,Ordem,Tipo ordem,Centro,Operação,CenTrab,Txt.breve operação,Cód. Único,Oper.ZSCP,TSE Oper.,...,Quantidade,Extensão,MND,L.Corte/Su,Religação,Mt.Cúbico,Observação,StatSist,StatUsuár.,Unnamed: 54
1,NaN,2206463343,ZSCP,0004,0050,277CRB04,REPOSIÇÃO DE ASFALTO INV,226463343,0050,733000,...,,"0,00",,,,,,LIB,EXEC VALO,NaN
2,NaN,2207236897,ZSCP,0004,0040,273CRL07,SERVIÇO EXECUTADO ANTERIORMENTE,227236897,0040,904200,...,,"0,00",,,,,"Conforme vistoria em 06.08.22, servico executa...",LIB,NEXE VALO,NaN
3,NaN,2210680011,ZSCP,0004,0030,277CRB04,REPOSIÇÃO DE ASFALTO INV,2210680011,0030,733000,...,,"0,00",,,,,,LIB,EXEC VALO,NaN
4,NaN,2212237908,ZSCP,0004,0050,273CRL10,REPOSIÇÃO DE CAPA ASFALTICA INV,2212237908,0050,745000,...,,"0,00",,,,,,LIB,EXEC,NaN
5,NaN,2213943855,ZSCP,0004,0020,277CRL06,DUPLICIDADE,2213943855,0020,901500,...,,"0,00",,,,,problema sistema,LIB,NEXE,NaN

In [193]:
dfSoebe.columns

Index(['Unnamed: 0', 'Ordem', 'Tipo ordem', 'Centro', 'Operação', 'CenTrab',
       'Txt.breve operação', 'Cód. Único', 'Oper.ZSCP', 'TSE Oper.', 'TSS',
       'Cont.ZSCP', 'Un. Adm.', 'M.Mão Obra', 'Ag.Tp.Serv', 'Resp.ZSCP',
       'DtDespacho', 'Dt.Início', 'Hr.Iniíio', 'Dt.FimExec', 'Hr.Fim',
       'Hr.Trab.', 'Acatamento', 'Hr.Acatam.', 'Dt.Agend.', 'Turno',
       'Dt.Compet.', 'Dt.Susp.', 'Hr.Susp.', 'Dt.Fim', 'Hr.Fim  .1',
       'H.Retirado', 'Instalado', 'Garantia', 'Dt.Exec.', 'Hr.Exec.', 'Peso',
       'Tipo Mat.', 'Pos. Rede', 'Diam.Rede', 'Diam.Ramal', 'Diam.Cavl.',
       'Comp.', 'Largura', 'Profund.', 'Quantidade', 'Extensão', 'MND',
       'L.Corte/Su', 'Religação', 'Mt.Cúbico', 'Observação', 'StatSist',
       'StatUsuár.', 'Unnamed: 54'],
      dtype='object')

In [194]:
dfSoebe = dfSoebe.drop(['Unnamed: 0', 'Tipo ordem', 'Centro', 'CenTrab', 'Txt.breve operação',
              'Cód. Único', 'Oper.ZSCP', 'TSS', 'Cont.ZSCP', 'M.Mão Obra',
              'Ag.Tp.Serv', 'Resp.ZSCP', 'DtDespacho', 'Dt.Início', 'Hr.Iniíio',
              'Dt.FimExec', 'Hr.Fim', 'Hr.Trab.', 'Acatamento', 'Hr.Acatam.',
              'Dt.Agend.', 'Turno', 'Dt.Compet.', 'Dt.Susp.', 'Hr.Susp.',
              'Dt.Fim', 'Hr.Fim  .1', 'H.Retirado', 'Instalado', 'Garantia',
              'Dt.Exec.', 'Hr.Exec.', 'Peso', 'Tipo Mat.', 'Pos. Rede',
              'Diam.Rede', 'Diam.Ramal', 'Diam.Cavl.', 'Quantidade', 'Extensão',
              'MND', 'L.Corte/Su', 'Religação', 'Mt.Cúbico', 'Observação',
              'Unnamed: 54'], axis=1)

dfSoebe.head()

,Ordem,Operação,TSE Oper.,Un. Adm.,Comp.,Largura,Profund.,StatSist,StatUsuár.
1,2206463343,0050,733000,277,"1,00","1,00","0,00",LIB,EXEC VALO
2,2207236897,0040,904200,273,"0,00","0,00","0,00",LIB,NEXE VALO
3,2210680011,0030,733000,277,"2,00","1,50","0,00",LIB,EXEC VALO
4,2212237908,0050,745000,273,"1,00","1,00","3,00",LIB,EXEC
5,2213943855,0020,901500,277,"0,00","0,00","0,00",LIB,NEXE

In [195]:
# Lendo a base de servicos liberados no SAP para o GLOBAL:

# skiprows = 3, pois as 3 primeiras linhas sao cabecalho.

dfGlobal = pd.read_csv(r'/content/drive/MyDrive/Projetos/soebe/pendentes-global/global.txt', 
                 encoding='cp1252', on_bad_lines='skip', skiprows=3, sep='|', dtype=object)

In [196]:
dfGlobal.head()

,Unnamed: 0,Ordem,Tipo ordem,Centro,Operação,CenTrab,Txt.breve operação,Cód. Único,Oper.ZSCP,TSE Oper.,...,Quantidade,Extensão,MND,L.Corte/Su,Religação,Mt.Cúbico,Observação,StatSist,StatUsuár.,Unnamed: 54
0,----------------------------------------------...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2110062824,ZSCP,0004,0010,277CTA06,NADA CONSTA NO LOCAL,2110062824,0010,903000,...,,"0,00",,,,,...,LIB,NEXE,NaN
2,NaN,2110063329,ZSCP,0004,0010,277CTA06,NADA CONSTA NO LOCAL,2110063329,0010,903000,...,,"0,00",,,,,...,LIB,NEXE,NaN
3,NaN,2110063740,ZSCP,0004,0010,277CTA06,NADA CONSTA NO LOCAL,2110063740,0010,903000,...,,"0,00",,,,,...,LIB,NEXE,NaN
4,NaN,2110064727,ZSCP,0004,0010,277CTA06,NADA CONSTA NO LOCAL,2110064727,0010,903000,...,,"0,00",,,,,...,LIB,NEXE,NaN

In [197]:
# Como o cabecalho possui um excesso de espacos, vamos remover e renomea-los:

l1 = dfGlobal.columns
l1 = [x.strip(' ') for x in l1]

dfGlobal = dfGlobal.rename(columns=dict(zip(dfGlobal.columns, l1)))

dfGlobal.columns

Index(['Unnamed: 0', 'Ordem', 'Tipo ordem', 'Centro', 'Operação', 'CenTrab',
       'Txt.breve operação', 'Cód. Único', 'Oper.ZSCP', 'TSE Oper.', 'TSS',
       'Cont.ZSCP', 'Un. Adm.', 'M.Mão Obra', 'Ag.Tp.Serv', 'Resp.ZSCP',
       'DtDespacho', 'Dt.Início', 'Hr.Iniíio', 'Dt.FimExec', 'Hr.Fim',
       'Hr.Trab.', 'Acatamento', 'Hr.Acatam.', 'Dt.Agend.', 'Turno',
       'Dt.Compet.', 'Dt.Susp.', 'Hr.Susp.', 'Dt.Fim', 'Hr.Fim  .1',
       'H.Retirado', 'Instalado', 'Garantia', 'Dt.Exec.', 'Hr.Exec.', 'Peso',
       'Tipo Mat.', 'Pos. Rede', 'Diam.Rede', 'Diam.Ramal', 'Diam.Cavl.',
       'Comp.', 'Largura', 'Profund.', 'Quantidade', 'Extensão', 'MND',
       'L.Corte/Su', 'Religação', 'Mt.Cúbico', 'Observação', 'StatSist',
       'StatUsuár.', 'Unnamed: 54'],
      dtype='object')

In [198]:
# Removendo o excesso de espacos no dataframe:

for i in l1:
  dfGlobal[i] = dfGlobal[i].str.strip()

In [199]:
#Missing Values:
#Temos apenas 2 missing values no dataframe.

dfGlobal = dfGlobal.dropna(subset=['Ordem'])

In [200]:
dfGlobal.head()

,Unnamed: 0,Ordem,Tipo ordem,Centro,Operação,CenTrab,Txt.breve operação,Cód. Único,Oper.ZSCP,TSE Oper.,...,Quantidade,Extensão,MND,L.Corte/Su,Religação,Mt.Cúbico,Observação,StatSist,StatUsuár.,Unnamed: 54
1,NaN,2110062824,ZSCP,0004,0010,277CTA06,NADA CONSTA NO LOCAL,2110062824,0010,903000,...,,"0,00",,,,,,LIB,NEXE,NaN
2,NaN,2110063329,ZSCP,0004,0010,277CTA06,NADA CONSTA NO LOCAL,2110063329,0010,903000,...,,"0,00",,,,,,LIB,NEXE,NaN
3,NaN,2110063740,ZSCP,0004,0010,277CTA06,NADA CONSTA NO LOCAL,2110063740,0010,903000,...,,"0,00",,,,,,LIB,NEXE,NaN
4,NaN,2110064727,ZSCP,0004,0010,277CTA06,NADA CONSTA NO LOCAL,2110064727,0010,903000,...,,"0,00",,,,,,LIB,NEXE,NaN
5,NaN,2110065051,ZSCP,0004,0010,277CTA06,NADA CONSTA NO LOCAL,2110065051,0010,903000,...,,"0,00",,,,,,LIB,NEXE,NaN

In [201]:
dfGlobal.columns

Index(['Unnamed: 0', 'Ordem', 'Tipo ordem', 'Centro', 'Operação', 'CenTrab',
       'Txt.breve operação', 'Cód. Único', 'Oper.ZSCP', 'TSE Oper.', 'TSS',
       'Cont.ZSCP', 'Un. Adm.', 'M.Mão Obra', 'Ag.Tp.Serv', 'Resp.ZSCP',
       'DtDespacho', 'Dt.Início', 'Hr.Iniíio', 'Dt.FimExec', 'Hr.Fim',
       'Hr.Trab.', 'Acatamento', 'Hr.Acatam.', 'Dt.Agend.', 'Turno',
       'Dt.Compet.', 'Dt.Susp.', 'Hr.Susp.', 'Dt.Fim', 'Hr.Fim  .1',
       'H.Retirado', 'Instalado', 'Garantia', 'Dt.Exec.', 'Hr.Exec.', 'Peso',
       'Tipo Mat.', 'Pos. Rede', 'Diam.Rede', 'Diam.Ramal', 'Diam.Cavl.',
       'Comp.', 'Largura', 'Profund.', 'Quantidade', 'Extensão', 'MND',
       'L.Corte/Su', 'Religação', 'Mt.Cúbico', 'Observação', 'StatSist',
       'StatUsuár.', 'Unnamed: 54'],
      dtype='object')

In [202]:
dfGlobal['Acatamento'].unique()

array(['25.11.2021', '14.06.2022', '13.01.2022', '10.06.2022',
       '26.01.2022', '25.01.2022', '18.02.2022', '08.07.2022',
       '07.07.2022', '03.02.2022', '07.02.2022', '10.02.2022',
       '14.02.2022', '04.07.2022', '20.02.2022', '05.07.2022',
       '21.02.2022', '23.02.2022', '22.02.2022', '24.02.2022',
       '25.02.2022', '21.07.2022', '20.07.2022', '26.02.2022',
       '28.02.2022', '01.03.2022', '03.03.2022', '14.07.2022',
       '08.03.2022', '10.03.2022', '11.03.2022', '07.05.2022',
       '14.03.2022', '18.05.2022', '15.03.2022', '16.03.2022',
       '23.03.2022', '24.03.2022', '25.03.2022', '28.03.2022',
       '30.03.2022', '31.03.2022', '01.04.2022', '06.08.2022',
       '02.04.2022', '03.04.2022', '04.04.2022', '05.04.2022',
       '06.04.2022', '06.09.2022', '31.08.2022', '26.07.2022',
       '07.04.2022', '08.04.2022', '17.06.2022', '30.06.2022',
       '26.05.2022', '10.04.2022', '09.04.2022', '11.04.2022',
       '12.04.2022', '13.04.2022', '14.04.2022', '16.04.2022',
       '17.04.2022', '30.05.2022', '18.04.2022', '19.04.2022',
       '04.05.2022', '20.04.2022', '22.04.2022', '23.04.2022',
       '24.04.2022', '25.04.2022', '16.08.2022', '26.04.2022',
       '20.05.2022', '27.04.2022', '28.04.2022', '01.06.2022',
       '29.04.2022', '11.05.2022', '30.04.2022', '02.05.2022',
       '03.05.2022', '06.05.2022', '05.05.2022', '12.07.2022',
       '24.06.2022', '21.06.2022', '28.06.2022', '27.06.2022',
       '09.05.2022', '22.06.2022', '23.06.2022', '20.06.2022',
       '10.05.2022', '19.05.2022', '12.05.2022', '17.08.2022',
       '13.05.2022', '31.05.2022', '14.05.2022', '17.05.2022',
       '16.05.2022', '15.05.2022', '07.06.2022', '02.09.2022',
       '27.05.2022', '03.06.2022', '21.05.2022', '22.05.2022',
       '23.05.2022', '02.06.2022', '06.06.2022', '29.05.2022',
       '09.06.2022', '09.09.2022', '12.09.2022', '24.05.2022',
       '28.05.2022', '25.05.2022', '19.08.2022', '29.06.2022',
       '13.07.2022', '05.06.2022', '22.07.2022', '04.06.2022',
       '16.06.2022', '10.08.2022', '08.06.2022', '11.06.2022',
       '13.06.2022', '15.06.2022', '01.08.2022', '12.06.2022',
       '02.08.2022', '29.08.2022', '03.08.2022', '18.07.2022',
       '19.07.2022', '18.06.2022', '19.06.2022', '15.07.2022',
       '25.07.2022', '27.07.2022', '01.07.2022', '06.07.2022',
       '25.06.2022', '04.08.2022', '09.08.2022', '26.06.2022',
       '08.08.2022', '11.07.2022', '28.07.2022', '05.08.2022',
       '08.09.2022', '29.07.2022', '23.08.2022', '02.07.2022',
       '03.07.2022', '05.09.2022', '10.07.2022', '17.07.2022',
       '09.07.2022', '16.07.2022', '01.09.2022', '11.08.2022',
       '13.08.2022', '15.08.2022', '12.08.2022', '18.08.2022',
       '24.08.2022', '14.09.2022', '07.08.2022', '30.08.2022',
       '04.09.2022', '24.07.2022', '22.08.2022', '23.07.2022',
       '31.07.2022', '26.08.2022', '27.08.2022', '25.08.2022',
       '10.09.2022', '30.07.2022', '14.08.2022', '20.08.2022',
       '13.09.2022', '07.09.2022', '21.08.2022', '16.09.2022',
       '28.08.2022', '03.09.2022', '15.09.2022', '19.09.2022',
       '11.09.2022', '20.09.2022', '21.09.2022', '17.09.2022',
       '18.09.2022'], dtype=object)

In [203]:
dfGlobal = dfGlobal.drop(['Unnamed: 0', 'Tipo ordem', 'Centro', 'CenTrab',
       'Txt.breve operação', 'Cód. Único', 'Oper.ZSCP', 'TSS', 
       'Cont.ZSCP', 'Un. Adm.', 'M.Mão Obra', 'Ag.Tp.Serv', 'Resp.ZSCP',
       'DtDespacho', 'Dt.Início', 'Hr.Iniíio', 'Dt.FimExec', 'Hr.Fim',
       'Hr.Trab.', 'Acatamento', 'Hr.Acatam.', 'Dt.Agend.', 'Turno',
       'Dt.Compet.', 'Dt.Susp.', 'Hr.Susp.', 'Dt.Fim', 'Hr.Fim  .1',
       'H.Retirado', 'Instalado', 'Garantia', 'Dt.Exec.', 'Hr.Exec.', 'Peso',
       'Quantidade', 'Observação', 'Unnamed: 54'], axis=1)

dfSoebe.head()

,Ordem,Operação,TSE Oper.,Un. Adm.,Comp.,Largura,Profund.,StatSist,StatUsuár.
1,2206463343,0050,733000,277,"1,00","1,00","0,00",LIB,EXEC VALO
2,2207236897,0040,904200,273,"0,00","0,00","0,00",LIB,NEXE VALO
3,2210680011,0030,733000,277,"2,00","1,50","0,00",LIB,EXEC VALO
4,2212237908,0050,745000,273,"1,00","1,00","3,00",LIB,EXEC
5,2213943855,0020,901500,277,"0,00","0,00","0,00",LIB,NEXE

In [204]:
len(dfGlobal['Ordem'])-dfGlobal['Ordem'].nunique()

14789

In [205]:
dfGlobal['StatUsuár.'].unique()

array(['NEXE', 'EXEC VALO', 'EXEC', 'NEXE VALO'], dtype=object)

In [206]:
dfGlobal['Ordem'].nunique()

45706

In [207]:
print(dfSoebe[dfSoebe['Ordem']=='2212237908'])

        Ordem Operação TSE Oper. Un. Adm. Comp. Largura Profund. StatSist  \
4  2212237908     0050    745000      273  1,00    1,00     3,00      LIB

  StatUsuár.
4       EXEC

In [208]:
# Lendo o primeiro arquivo:

path = r'/content/drive/MyDrive/Projetos/soebe/servicos_pagos-soebe'
filenames = glob.glob(path + "/*.txt")

dfs = []
for filename in filenames:
  dfs.append(pd.read_csv(filename, dtype=object, encoding='cp1252', sep='|',
                      skiprows=8))

dfServPag = pd.concat(dfs, ignore_index=True)
dfServPag.head()

,Unnamed: 0,Un. Adm.,Frente,Ordem,Etapa,TSE,Descrição do TSE,Endereço,Município,Data Fim d,...,Fim,Unnamed: 37,Endereço,Descrição do Motivo de Não Pagamento,Endereço,Descrição,Pedido,Descrição do TSE,Endereço,Descrição do Motivo
0,----------------------------------------------...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,277,04,2206463343,0050,733000,REPOSIÇÃO DE ASFALTO INV,RUA MIGUEL OSORIO DE ALMEIDA 67 C/1 VL RENATO ...,SÃO PAULO,14.07.2022,...,31.07.2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,277,04,2210680011,0030,733000,REPOSIÇÃO DE ASFALTO INV,RUA JOAO RICARDO 40 C/1 JD PERI ...,SÃO PAULO,14.07.2022,...,31.07.2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,277,04,2218010936,0050,733000,REPOSIÇÃO DE ASFALTO INV,RUA FRANCISCO RODRIGUES ALVES 187 VL BRUNA ...,SÃO PAULO,14.07.2022,...,31.07.2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,273,,2218474146,0030,904200,SERVIÇO EXECUTADO ANTERIORMENTE,RUA PONTA GROSSA 40 P MANDAQUI ...,SÃO PAULO,22.06.2022,...,31.07.2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [209]:
# Como o cabecalho possui um excesso de espacos, vamos remover e renomea-los:

l1 = dfServPag.columns
l1 = [x.strip(' ') for x in l1]

dfServPag = dfServPag.rename(columns=dict(zip(dfServPag.columns, l1)))

dfServPag.columns

Index(['Unnamed: 0', 'Un. Adm.', 'Frente', 'Ordem', 'Etapa', 'TSE',
       'Descrição do TSE', 'Endereço', 'Município', 'Data Fim d', 'Dt.Val.',
       'Pago?', 'Motivo de', 'Descrição do Motivo', 'Número de', 'Item de Pr',
       'Descrição do Item de Preço', 'UM', 'Valor Unit', 'Quantidade',
       'Compriment', 'Largura', 'Profundida', 'Valor Medi', 'Medição Pa',
       'Medição De', 'Medição De.1', 'Medição Es', 'Ajuste', 'Documento',
       'Documento.1', 'Documento.2', 'Documento.3', 'Pedido', 'Período',
       'Início', 'Fim', 'Unnamed: 37', 'Endereço',
       'Descrição do Motivo de Não Pagamento', 'Endereço', 'Descrição',
       'Pedido', 'Descrição do TSE', 'Endereço', 'Descrição do Motivo'],
      dtype='object')

In [210]:
dfServPag = dfServPag.drop(['Unnamed: 0', 'Un. Adm.', 'Frente', 'TSE',
       'Descrição do TSE', 'Endereço', 'Município', 'Data Fim d', 'Dt.Val.',
       'Motivo de', 'Descrição do Motivo', 'Descrição do Item de Preço', 'Medição Pa',
       'Medição De', 'Medição De.1', 'Medição Es', 'Ajuste', 'Documento',
       'Documento.1', 'Documento.2', 'Documento.3', 'Pedido', 'Período',
       'Início', 'Fim', 'Unnamed: 37', 'Descrição do TSE', 'Endereço',
       'Descrição do Motivo', 'Endereço', 'Compriment', 'Largura', 'Profundida',  
       'Descrição do Motivo de Não Pagamento', 'Endereço', 'Descrição',
       'Pedido'], axis=1)

In [211]:
dfServPag.head()

,Ordem,Etapa,Pago?,Número de,Item de Pr,UM,Valor Unit,Quantidade,Valor Medi
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2206463343,0050,S,453897,04040204,un,"108,56","1,00","108,56"
2,2210680011,0030,S,453897,04040204,un,"108,56","1,00","108,56"
3,2218010936,0050,S,453897,04040204,un,"108,56","1,00","108,56"
4,2218474146,0030,N,,,,"0,00","0,00","0,00"

In [212]:
# Removendo valores nulos para a Ordem:

mask = (dfServPag['Ordem']=='nan')
dfServPag = dfServPag[~mask]
dfServPag = dfServPag.dropna(subset=['Ordem'])

dfServPag.head()

,Ordem,Etapa,Pago?,Número de,Item de Pr,UM,Valor Unit,Quantidade,Valor Medi
1,2206463343,0050,S,453897,04040204,un,"108,56","1,00","108,56"
2,2210680011,0030,S,453897,04040204,un,"108,56","1,00","108,56"
3,2218010936,0050,S,453897,04040204,un,"108,56","1,00","108,56"
4,2218474146,0030,N,,,,"0,00","0,00","0,00"
5,2218852095,0030,S,453210,01040301,un,"216,61","1,00","216,61"

In [213]:
# Removendo excesso de espacos:

l1 = dfServPag.columns

for i in l1:
  dfServPag[i] = dfServPag[i].str.strip()

In [214]:
dfSoebe.head()

,Ordem,Operação,TSE Oper.,Un. Adm.,Comp.,Largura,Profund.,StatSist,StatUsuár.
1,2206463343,0050,733000,277,"1,00","1,00","0,00",LIB,EXEC VALO
2,2207236897,0040,904200,273,"0,00","0,00","0,00",LIB,NEXE VALO
3,2210680011,0030,733000,277,"2,00","1,50","0,00",LIB,EXEC VALO
4,2212237908,0050,745000,273,"1,00","1,00","3,00",LIB,EXEC
5,2213943855,0020,901500,277,"0,00","0,00","0,00",LIB,NEXE

In [215]:
dfGlobal.head()

,Ordem,Operação,TSE Oper.,Tipo Mat.,Pos. Rede,Diam.Rede,Diam.Ramal,Diam.Cavl.,Comp.,Largura,Profund.,Extensão,MND,L.Corte/Su,Religação,Mt.Cúbico,StatSist,StatUsuár.
1,2110062824,0010,903000,,,,,,"0,00","0,00","0,00","0,00",,,,,LIB,NEXE
2,2110063329,0010,903000,,,,,,"0,00","0,00","0,00","0,00",,,,,LIB,NEXE
3,2110063740,0010,903000,,,,,,"0,00","0,00","0,00","0,00",,,,,LIB,NEXE
4,2110064727,0010,903000,,,,,,"0,00","0,00","0,00","0,00",,,,,LIB,NEXE
5,2110065051,0010,903000,,,,,,"0,00","0,00","0,00","0,00",,,,,LIB,NEXE

In [216]:
dfServPag.head()

,Ordem,Etapa,Pago?,Número de,Item de Pr,UM,Valor Unit,Quantidade,Valor Medi
1,2206463343,0050,S,453897,04040204,un,"108,56","1,00","108,56"
2,2210680011,0030,S,453897,04040204,un,"108,56","1,00","108,56"
3,2218010936,0050,S,453897,04040204,un,"108,56","1,00","108,56"
4,2218474146,0030,N,,,,"0,00","0,00","0,00"
5,2218852095,0030,S,453210,01040301,un,"216,61","1,00","216,61"

In [217]:
# path = '/content/drive/MyDrive/Projetos/soebe/export/dfSoebe.csv'

# with open(path, 'w', encoding = 'utf-8-sig') as f:
#   dfSoebe.to_csv(f)

# path = '/content/drive/MyDrive/Projetos/soebe/export/dfGlobal.csv'

# with open(path, 'w', encoding = 'utf-8-sig') as f:
#   dfGlobal.to_csv(f)

# path = '/content/drive/MyDrive/Projetos/soebe/export/dfServPag.csv'

# with open(path, 'w', encoding = 'utf-8-sig') as f:
#   dfServPag.to_csv(f)

In [218]:
# Renomeando a coluna 'Etapa':

dfServPag.rename(columns={'Etapa':'Operação'}, inplace=True)

In [219]:
# Agrupando por Ordem e Etapa e somando o valor pago por item:
dfServPag = dfServPag.groupby(['Ordem', 'Operação'])['Valor Medi'].sum()

In [220]:
# Alterando o index para Ordem e Operacao para o dataframe da Soebe:

dfSoebe.set_index(['Ordem', 'Operação'], inplace=True)

In [221]:
# Merging nos dataframes para obtermos o valor pago para cada ordem:

dfSoebe = pd.merge(dfSoebe, dfServPag, left_index=True, right_index=True)

In [222]:
# Resetando o index:

dfSoebe = dfSoebe.reset_index()

In [223]:
# Filtrando o dataframe do Global para retirar apenas as etapas 0010:

mask = dfGlobal['Operação']=='0010'

dfGlobal = dfGlobal[mask]

In [224]:
# Merging dos dataframes pela Ordem:

df = pd.merge(dfSoebe, dfGlobal, left_on='Ordem', right_on='Ordem')

In [225]:
df.columns

Index(['Ordem', 'Operação_x', 'TSE Oper._x', 'Un. Adm.', 'Comp._x',
       'Largura_x', 'Profund._x', 'StatSist_x', 'StatUsuár._x', 'Valor Medi',
       'Operação_y', 'TSE Oper._y', 'Tipo Mat.', 'Pos. Rede', 'Diam.Rede',
       'Diam.Ramal', 'Diam.Cavl.', 'Comp._y', 'Largura_y', 'Profund._y',
       'Extensão', 'MND', 'L.Corte/Su', 'Religação', 'Mt.Cúbico', 'StatSist_y',
       'StatUsuár._y'],
      dtype='object')

In [226]:
df['Comp._x'].unique()

array(['1,00', '0,00', '2,00', '1,50', '1,10', '0,80', '1,20', '1,30',
       '4,80', '4,00', '2,50', '2,20', '2,80', '1,40', '1,70', '0,60',
       '5,50', '2,70', '3,00', '7,00', '1,80', '1,90', '5,00', '0,70',
       '3,60', '0,50', '2,10', '1,65', '0,90', '8,00', '1,60', '12,00',
       '0,75', '1,45', '1,85', '0,30', '0,65', '0,97', '0,64', '0,67',
       '0,57', '0,40', '0,93', '0,62', '2,90', '0,85', '2,30', '9,30',
       '0,99', '13,50', '3,63', '3,50', '1,53', '0,98', '5,20', '0,68',
       '1,05', '1,23', '1,29', '0,63', '1,03', '3,80', '2,14', '0,94',
       '1,09', '1,44', '2,60', '1,35', '0,74', '0,76', '3,06', '0,72',
       '0,91', '0,81', '0,69', '1,22', '0,86', '1,16', '0,47', '1,21',
       '0,10', '0,77', '0,61', '1,66', '1,01', '0,79', '1,24', '1,17',
       '0,82', '0,83', '0,78', '0,71', '0,84', '0,73', '0,95', '1,08',
       '6,50', '9,03', '0,53', '0,55', '0,56', '0,54', '0,59', '1,55',
       '0,92', '1,06', '1,63', '3,40', '2,07', '4,90', '2,40', '1,72',
       '1,64', '231,30', '3,30', '3,20', '4,78', '6,00', '2,26', '1,52',
       '0,89', '2,19', '4,60', '10,00', '51,00', '0,96', '9,78', '4,72',
       '1,04', '3,70', '9,91', '86,00', '5,12', '5,41', '1,18', '92,00',
       '9,49', '12,80', '7,50', '1,51', '2,79', '3,18', '6,40', '232,07',
       '1,47', '5,60', '2,21', '42,00', '3,61', '6,90', '71,03', '9,00',
       '2,41', '3,35', '4,20', '4,50', '5,98', '6,30', '4,59', '4,40',
       '3,31', '32,00', '0,14', '5,70', '4,41', '3,10', '4,30', '3,24',
       '3,90', '3,97', '0,49', '5,40', '4,36', '1,75', '8,20', '1,74',
       '4,11'], dtype=object)

In [227]:
df['Valor Medi'].astype(float)

ValueError: ignored

In [183]:
# Alterando a virgula por ponto para posterior conversao em float nas variaveis numericas:

df = df.apply(lambda x: x.str.replace(',','.'))

In [185]:
df['Valor Medi'].unique()

array(['108.56', '0.00', '216.61', '139.58', '298.64', '328.12', '538.32',
       '478.08', '388.36', '652.40', '212.88', '109.02', '62.80',
       '717.77', '657.53', '358.88', '106.44', '260.68', '127.36',
       '447.32', '857.48', '185.03', '565.71', '133.05', '2.065.78',
       '14.801.72', '13.171.18', '845.90', '155.09', '69.21', '565.24',
       '128.15', '196.11', '27.725.47', '17.111.12', '4.993.71',
       '1.700.33', '17.434.69', '103.82', '11.673.88', '27.649.33',
       '5.710.0517.908.65', '9.465.99', '888.20', '615.20', '1.357.14',
       '499.79', '422.90', '1.011.20', '1.037.81', '3.281.90', '1.224.08',
       '1.995.79', '292.72', '239.49'], dtype=object)

In [242]:
df.head()

,Ordem,Operação_x,TSE Oper._x,Un. Adm.,Comp._x,Largura_x,Profund._x,StatSist_x,StatUsuár._x,Valor Medi,...,Comp._y,Largura_y,Profund._y,Extensão,MND,L.Corte/Su,Religação,Mt.Cúbico,StatSist_y,StatUsuár._y
0,2206463343,0050,733000,277,"1,00","1,00","0,00",LIB,EXEC VALO,"108,56",...,"0,00","0,00","0,00","0,00",,,,,LIB,EXEC VALO
1,2207236897,0040,904200,273,"0,00","0,00","0,00",LIB,NEXE VALO,"0,00",...,"0,00","0,00","0,00","0,00",,,,,LIB,EXEC VALO
2,2210680011,0030,733000,277,"2,00","1,50","0,00",LIB,EXEC VALO,"108,56",...,"0,00","0,00","0,60","0,00",Sim,,,,LIB,EXEC VALO
3,2218010936,0050,733000,277,"1,00","1,00","0,00",LIB,EXEC VALO,"108,56",...,"0,00","0,00","0,00","0,00",,,,,LIB,EXEC VALO
4,2218474146,0030,904200,273,"0,00","0,00","0,00",LIB,NEXE VALO,"0,00",...,"0,00","0,00","0,00","0,00",,,,,LIB,EXEC VALO

In [243]:
df['Valor Medi'].unique()

array(['108,56', '0,00', '216,61', '139,58', '298,64', '328,12', '538,32',
       '478,08', '388,36', '652,40', '212,88', '109,02', '62,80',
       '717,77', '657,53', '358,88', '106,44', '260,68', '127,36',
       '447,32', '857,48', '185,03', '565,71', '133,05', '2.065,78',
       '14.801,72', '13.171,18', '845,90', '155,09', '69,21', '565,24',
       '128,15', '196,11', '27.725,47', '17.111,12', '4.993,71',
       '1.700,33', '17.434,69', '103,82', '11.673,88', '27.649,33',
       '5.710,0517.908,65', '9.465,99', '888,20', '615,20', '1.357,14',
       '499,79', '422,90', '1.011,20', '1.037,81', '3.281,90', '1.224,08',
       '1.995,79', '292,72', '239,49'], dtype=object)

In [241]:
df['Valor Medi'].str.count(".")

0       6
1       4
2       6
3       6
4       4
       ..
1539    4
1540    6
1541    4
1542    4
1543    4
Name: Valor Medi, Length: 1544, dtype: int64

In [184]:
df[['Comp._x', 'Largura_x', 'Profund._x', 'Valor Medi', 'Comp._y', 'Largura_y', 'Profund._y', 'Extensão', 'Mt.Cúbico']].astype(float)

ValueError: ignored